<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Aplicativo de Ideias</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/pages/info">Info</a></li>
        <li><a href="/ideas">Ideias</a></li>
        <li ><%= link_to 'New Idea', new_idea_path %></li>
      </ul>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logado como: <strong><%= current_user.email %></strong>.
          <%= link_to 'Editar perfil', edit_user_registration_path, class: 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
        <% else %>
          <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
    </div>
  </div>
</nav>